@model Product
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Edit Product
            </h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title">
                Product Title
            </label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">
                Description
            </label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ISBN">
                ISBN
            </label>
            <input asp-for="ISBN" class="form-control">
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author">
                Author
            </label>
            <input asp-for="Author" class="form-control">
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ListPrice">
                List Price
            </label>
            <input asp-for="ListPrice" class="form-control">
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price">
                Price
            </label>
            <input asp-for="Price" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price50">
                Price 50
            </label>
            <input asp-for="Price50" class="form-control">
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price100">
                Price 100
            </label>
            <input asp-for="Price100" class="form-control">
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a asp-area="Admin" asp-controller="Product" asp-action="Edit" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}