@model Company
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            @if (Model.Id == null || Model.Id == 0)
            {
                <h2 class="text-primary">
                    Create Company
                </h2>
            }
            else
            {
                <h2 class="text-primary">
                    Update Company
                </h2>
            }
            <hr />
        </div>
        <div class="row">
            <div class="mb-3">
                <input type="hidden" asp-for="Id">
                <label asp-for="Name">
                    Company Name
                </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name " class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StreetAddress">
                    Street Address
                </label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress " class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City">
                    City
                </label>
                <input asp-for="City" class="form-control">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="State">
                    State
                </label>
                <input asp-for="State" class="form-control">
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PostalCode">
                    Postal Code
                </label>
                <input asp-for="PostalCode" class="form-control">
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber">
                    Phone Number
                </label>
                <input asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">@(Model.Id == null || Model.Id == 0 ? "Create" : "Update")</button>
        <a asp-area="Admin" asp-controller="Company" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}